# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
*.local
**/.env
**/test.sh

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docker-volumes/*
!docker-volumes/minio
docker-volumes/minio/.minio.sys/buckets/.bloomcycle.bin
docker-volumes/minio/.minio.sys/buckets/.usage-cache.bin
docker-volumes/minio/.minio.sys/buckets/.usage.json
docker-volumes/minio/.minio.sys/tmp
docker-volumes/minio/.minio.sys/buckets/print-solution/.usage-cache.bin
docker-volumes/minio/.minio.sys/config/iam/sts/M3RZHZ31GF65DWNHW5A1/identity.json/xl.meta
docker-volumes/minio/print-solution/private/*
!docker-volumes/minio/print-solution/private/note.txt
frontend/src/graphql/**/graphql.tsx
!docker-volumes/mongo-export
!docker-volumes/keycloak
!docker-volumes/note.txt
services/docs/src/upload/*
!services/docs/src/upload/note.txt

uploads/*
