<!DOCTYPE html>
<html>
  <head>
    <title>Proof of Concept</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="w-[100vw] h-[100vh] flex items-center justify-center p-10 flex-col"
  >
    <h1 class="text-4xl font-bold">Proof of Concept</h1>
    <div class="w-full mt-[80px] grid grid-cols-1 md:grid-cols-2 gap-10">
      <a
        href="/PoC-01-upload-files"
        class="p-8 flex items-center justify-between bg-black text-white text-lg font-semibold rounded-lg shadow-md"
      >
        <span class="text-[peachpuff] underline">Bài toán 01:</span>
        <span>Upload file</span>
      </a>
      <a
        href="/PoC-02-bank-qrcode"
        class="p-8 flex items-center justify-between bg-black text-white text-lg font-semibold rounded-lg shadow-md"
      >
        <span class="text-[peachpuff] underline">Bài toán 02:</span>
        <span>Bank QR code</span>
      </a>
    </div>
  </body>
</html>
